<?xml version="1.0" encoding="UTF-8"?>
  <type name="highway" id="1">
    <class name="road" id="100" priority="1.0" maxspeed="50" />
    <class name="motorway" id="101" priority="1.0" maxspeed="130" />
    <class name="motorway_link" id="102" priority="1.0" maxspeed="130" />
    <class name="motorway_junction" id="103" priority="1.0" maxspeed="130" />
    <class name="trunk" id="104"  priority="1.05" maxspeed="110" />
    <class name="trunk_link" id="105"  priority="1.05" maxspeed="110" />    
    <class name="primary" id="106"  priority="1.15" maxspeed="90" />
    <class name="primary_link" id="107"  priority="1.15" maxspeed="90" />    
    <class name="secondary" id="108"  priority="1.5" maxspeed="90" />
    <class name="tertiary" id="109"  priority="1.5" maxspeed="60"/>  
    <class name="residential" id="110"  priority="1.75" maxspeed="40" />
    <class name="living_street" id="111"  priority="1.75" maxspeed="15" />  
    <class name="service" id="112"  priority="2.5" maxspeed="25" />
    <class name="track" id="113"  priority="3" maxspeed="8" />
    <class name="pedestrian" id="114"  priority="2.5" maxspeed="8" />
    <class name="services" id="115"  priority="2.5" maxspeed="25" />
    <class name="bus_guideway" id="116"  priority="2.5" maxspeed="50" />
    <class name="path" id="117"  priority="2.5" maxspeed="8" />
    <class name="cycleway" id="118"  priority="2.5" maxspeed="15" />
    <class name="footway" id="119"  priority="2.5" maxspeed="8" />
    <class name="bridleway" id="120"  priority="2.5" maxspeed="8" />
    <class name="byway" id="121"  priority="2.5" maxspeed="8" />
    <class name="steps" id="122" priority="3" maxspeed="8"/>
    <class name="unclassified" id="123" priority="3" maxspeed="40"/>   
    <class name="secondary_link" id="124" priority="3" maxspeed="40"/>
    <class name="tertiary_link" id="125" priority="3" maxspeed="30"/>
    <class name="lane" id="201" priority="3" maxspeed="15"/>
    <class name="track" id="202" priority="3" maxspeed="8"/>
    <class name="opposite_lane" id="203" priority="3" maxspeed="15"/>
    <class name="opposite" id="204" priority="3" maxspeed="15"/>
    <class name="grade1" id="301" priority="3" maxspeed="90"/>
    <class name="grade2" id="302" priority="3" maxspeed="60"/>
    <class name="grade3" id="303" priority="3" maxspeed="50"/>
    <class name="grade4" id="304" priority="3" maxspeed="40"/>
    <class name="grade5" id="305" priority="3" maxspeed="30"/>
    <class name="roundabout" id="401" priority="3" maxspeed="30"/>
</type> 